/********************
YOUR STYLES
*******************/
* {
    box-sizing:border-box;
}

body {
    background: url ("/stand-alone-profolio/img/backg.jpg")
    
}

h1 {
    color: burlywood;
    font-family: 'Molle', cursive;
    font-size: 3em;
    text-align: center;
}
  

/* Header */
header {
    background: white;
    border: 5px double lightgray;
    margin: 30px 50px 30px 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
  
}   


/* Gallery Styling */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  background: white;
  display: flex;
    font-family: 'Nothing You Could Do', cursive;
    color: burlywood;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
    text-align: center;
  width: 30em;
}


a {
  
}
.lg-backdrop {
    background: rgba(255,255,255,.8);
}

.lg-image {
    box-shadow: 0 0 30px; 
    
}


footer {
    color: burlywood;
    background: white;
    border: 5px double lightgray;
    font-family: 'Molle', cursive;
    margin: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}
/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
/*  body {*/
       background: red;
  }
    
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
/*  body {*/
       background: green;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
/*  body {*/
       background: blue;
  }

}
